__pycache__

data/data.pt
data/vocab.json
data/rev_vocab.json
data/*.model
data/*.vocab

logs/checkpoints/*
!logs/checkpoints/.gitkeep
logs/profiler/*
!logs/profiler/.gitkeep
logs/transformer/*
!logs/transformer/.gitkeep

model/__pycache__

utils/__pycache__

.pytest_cache

custom/__pycache__
tests/model/__pycache__
__input.txt